<?xml version="1.0" encoding="utf-8" ?>
<system>
	<!-- ***********************************************************************************
		TOOLKIT SETTINGS
	************************************************************************************ -->
	<toolkit theme="gradient">
		<styles>
			<asset resource="themes/xpt/xpt.css" />
		</styles>
		<components>
			<numberStepper class="xpt.ui.custom.NumberStepper" />
		</components>
	</toolkit>
	
	<stimuli>
		<!-- ***********************************************************************************
			BASIC STIMULI
		************************************************************************************ -->
		<button builder="xpt.stimuli.builders.basic.StimButton" />
		<numberStepper builder="xpt.stimuli.builders.basic.StimNumberStepper" />
		<multiNumberStepper builder="xpt.stimuli.builders.compound.StimMultiNumberStepper" />
		<age builder="xpt.stimuli.builders.compound.StimMultiNumberStepper" />
	</stimuli>
</system>