<?xml version="1.0" encoding="utf-8" ?>
<system>
	<!-- ***********************************************************************************
		TOOLKIT SETTINGS
	************************************************************************************ -->
	<toolkit theme="gradient">
		<styles>
			<asset resource="themes/xpt/xpt.css" />
		</styles>
		<components>
			<numberStepper class="xpt.ui.custom.NumberStepper" />
			<triangle class="xpt.ui.custom.Triangle" />
			<line class="xpt.ui.custom.Line" />
			<lineScale class="xpt.ui.custom.LineScale" />
		</components>
	</toolkit>
	
	<stimuli>
		<!-- ***********************************************************************************
			BASIC STIMULI
		************************************************************************************ -->
		<button builder="xpt.stimuli.builders.basic.StimButton" />
		<numberStepper builder="xpt.stimuli.builders.basic.StimNumberStepper" />
		<lineScale builder="xpt.stimuli.builders.basic.StimLineScale" />
		<multipleChoice builder="xpt.stimuli.builders.basic.StimMultipleChoice" />
		<comboBox builder="xpt.stimuli.builders.basic.StimComboBox" />
		
		<!-- ***********************************************************************************
			COMPOUND STIMULI
		************************************************************************************ -->
		<multiNumberStepper builder="xpt.stimuli.builders.compound.StimMultiNumberStepper" />
		
		<!-- ***********************************************************************************
			ALIAS STIMULI
		************************************************************************************ -->
		<age builder="xpt.stimuli.builders.compound.StimMultiNumberStepper">
			<val>00</val>
		</age>
		<sex builder="xpt.stimuli.builders.basic.StimMultipleChoice">
			<id>sex</id>
			<labels>Male,Female</labels>
			<icons>img/icons/user-nude.png,img/icons/user-nude-female.png</icons>
			<buttonWidth>50%</buttonWidth>
		</sex>
		<origin builder="xpt.stimuli.builders.basic.StimComboBox">
			<text>Where are you from?</text>
			<data>data/countries.json</data>
		</origin>	
	</stimuli>
</system>